PORT = 3000
NODE_ENV = development
JWT_SECRET_KEY = your_jwt_secret_key

REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_PASSWORD = your_redis_password

DB_NAME= ecommerce_db
DB_USERNAME = your_db_username
DB_PASSWORD = your_db_password
DB_HOST = localhost
DB_PORT = 5432

dbURL = postgresql://your_db_username:your_db_password@localhost:5432/ecommerce_db?schema=public